extend layout
block content
  button(type='button', id='getkey') Click me for the next line!
  .key-display(id='showkey') 
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='/scripts/getkey.js')