extend layout
block content
  // HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/
  #previews.table.table-striped
    #template.file-row
      // This is used as the file preview template
      div
        span.preview
          img(data-dz-thumbnail='')
      div
        p.name(data-dz-name='')
        strong.error.text-danger(data-dz-errormessage='')
      div
        p.size(data-dz-size='')
        .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')
          .progress-bar.progress-bar-success(style='width:0%;', data-dz-uploadprogress='')
      div
        button.btn.btn-primary.start
          i.glyphicon.glyphicon-upload
          span Start
        button.btn.btn-warning.cancel(data-dz-remove='')
          i.glyphicon.glyphicon-ban-circle
          span Cancel
        button.btn.btn-danger.delete(data-dz-remove='')
          i.glyphicon.glyphicon-trash
          span Delete